# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Electron cache
*.asar

# Babel cache
.babel-cache/
.cache/

# Environment variables (se usar .env)
.env
.env.local